{% extends 'base.html.twig' %}

{% block title %}trellolike - Home{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur la page d'accueil de trellolike.</h1>
        <p class="lead">trellolike est un projet scolaire ayant pour but de reproduire la plupart des fonctionnalités que l'on retrouve dans l'application Trello.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </p>
    </div>
</div>
{% endblock %}
